#### Print Functions and its Arguments

In [4]:
print("Hello World!") #prints the contents of the brackets
print(2023)
print(3.14)

Hello World!
2023
3.14

#### Type() Function

In [11]:
print(type("Hello World!")) 
print(type(2023))
print(type(3.14))
print(type(True)) #produces the data type of the items in the container

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

#### Length() Function

In [16]:
print(len("JustIT")) #returns the number of items in a container
                     #can only use for str type data
print(len("Just IT")) #in len() space " " counts as a character

6
7

In [18]:
print(len("DayaKaurPanesar"))

15

In [20]:
print(len("DayaPanesar"))

11

###### Exercise find out country with the longest offical name

In [23]:
print(len("UnitedKingdomofGreatBritainandNorthernIreland"))

45

#### Escape Character in Python

In [30]:
print('My father\'s car is black')
#whatever is directly after the backlash will be ignored by python

My father's car is black

##### New line and Tabs

In [39]:
print("Hi. My name is Daya. I am learning Python")

Hi. My name is Daya. I am learning Python

In [41]:
# to split into two seperate lines without using print() twice
# you can use \n
print("Hi. My name is Daya.\nI am learning Python")

Hi. My name is Daya.
I am learning Python

In [45]:
# to make a tab(3 spaces) between the sentences use \t
print("Hi.\tMy name is Daya.\tI am learning Python")

Hi.	My name is Daya.	I am learning Python

#### Print Multiple Arguments

In [48]:
print("I am", 21,"years old") #seperate with commas

I am 21 years old

In [50]:
print("Am I 21 years old?", True,"or", False)

Am I 21 years old? True or False

In [52]:
print("happy","birthday")

happy birthday

In [54]:
print("happy" + "birthday")

happybirthday

#### Arithmetic Operators

In [58]:
print(10+3) #addition
print(6-2) #subtraction

13
4

In [74]:
print(4*5) #multiplication
print(36/8) #division

20
4.5

In [76]:
print(10//3) #only produces quotient - floor decimal
print(10%3) #only produces remainder - modulous

3
1

In [78]:
print(3**4) #exponentiation e.g., 3^4

81

#### Variables

In [80]:
num1=5
num2=6
sum=num1*num2
print(sum)

30

In [82]:
my_name="Daya"
print(my_name)
print(type(my_name))
print(len(my_name))

Daya
<class 'str'>
4

#### Input()

In [88]:
#option 1
print("Tell me anything...")
anything=input()
print("Hmm...", anything, "...really?")

Tell me anything...

 I am sleepy

Hmm... I am sleepy ...really?

In [92]:
#option 2
anything2=input("Tell me anything...")
print("Hmm...", anything2, "...really?")

Tell me anything... blahblah

Hmm... blahblah ...really?

In [94]:
#option 3
print("What is your name?")
print("Your name is...",input())

What is your name?

 Daya

Your name is... Daya

#### Type Conversion Casting

In [105]:
number=float(input("enter a number:")) #makes the input change to a float
something=number**2
print(number,"to the power of 2 is", something)

enter a number: 8

8.0 to the power of 2 is 64.0

In [113]:
number1=float(input("enter a number:"))
number2=float(input("enter another number:"))
print("The first number is:",number1,"and the second number is:",number2,"\nMultiplied together it is", number1*number2)

enter a number: 34
enter another number: 45

The first number is: 34.0 and the second number is: 45.0
Multiplied together it is 1530.0

##### Pythagoras' Theorem Algorithm

In [149]:
print("This is a Pythagoras' Theorem Calculator")
a=float(input("enter side a:"))
b=float(input("enter side b:"))
c=(a**2+b**2)**0.5 #a^2 + b^2 = c^2 ##'**0.5' removes the ^2
print("The hypotenuse is:", c)

This is a Pythagoras' Theorem Calculator

enter side a: 5
enter side b: 12

The hypotenuse is: 13.0

#### Miles - Kilometers Converter

##### Using if and elif

In [171]:
print("Miles - Kilometers Converter")
number=float(input("Enter a number"))
unit=(input("Miles or Kilometers? enter 'm' or 'k'"))
if unit=="m":
    print("miles:",number,"\nkilometers:", number*1.61)
elif unit=="k":
    print("kilometers:",number,"\nmiles:", number*0.62)

Miles - Kilometers Converter

Enter a number 6
Miles or Kilometers? enter 'm' or 'k' k

kilometers: 6.0
miles: 3.7199999999999998

##### Using input and print only

In [173]:
miles=float(input("enter the number of miles you want to convert to km:"))
km=miles*1.61
print(miles,"miles is",km,"kilometers")

enter the number of miles you want to convert to km: 6

6.0 miles is 9.66 kilometers

In [177]:
km=float(input("enter the number of km you want to convert to miles:"))
miles=km*0.62
print(km,"km is",miles,"miles")

enter the number of km you want to convert to miles: 6

6.0 km is 3.7199999999999998 miles